/classTest/nbproject/private/
/classTest/build/
/swichcas/nbproject/private/
/testObject/nbproject/private/
/testObject/build/
/swichcas/build/
/regstation/nbproject/private/
/testcreate/nbproject/private/
/testcreate/build/
/prodect/nbproject/private/
/create/nbproject/private/
/create/build/
/prictis/nbproject/private/
/prictis/build/
